<div
  class="flex flex-col items-center justify-center h-[250px] sm:h-[300px] sm:w-[400px] bg-main dark:bg-secondary rounded-t-2xl rounded-b-xl p-[3px]"
  id="card">
  <div class="relative flex flex-row h-[15%] w-full items-center">
    <div class="absolute left-2 bg-red-500 h-2.5 w-2.5 sm:h-3.5 sm:w-3.5 rounded-full"></div>
    <div class="absolute left-6.5 bg-yellow-400 h-2.5 w-2.5 sm:h-3.5 sm:w-3.5 rounded-full"></div>
    <div class="absolute left-11 bg-green-500 h-2.5 w-2.5 sm:h-3.5 sm:w-3.5 rounded-full"></div>
    <h1 class="absolute top-[h-1/2] text-center w-full text-secondary dark:text-main z-50">{{title}}</h1>
  </div>
  <div class="w-full h-full bg-button-s rounded-b-xl rounded-t-sm overflow-hidden">
    <ng-content></ng-content>
  </div>
</div>