<div
  class="flex justify-center items-center w-[360px] h-[290px] sm:w-[450px] sm:h-[250px] md:w-[520px] md:h-[300px] hover:scale-none">
  <app-card id="card2" class="h-full w-full">
    <div class="W-full h-full py-8 px-5 text-[16px] sm:text-[18px] flex justify-start items-start">
      <div class="flex flex-col w-full font-mono gap-2">
        <p class="line">
          <span class="flex flex-row gap-2 flex-wrap">
            <span class="text-red-400">const</span>
            <span class="text-cyan-200 ">name</span>
            <span class="text-white -mx-2">:</span>
            <span class="text-emerald-300 mx-2 ">string</span>
            <span class="text-white -mx-2">=</span>
            <span class="text-orange-300 ">"Miguel Ángel"</span>
            <span class="text-white -mx-2">;</span>
            <span class="text-white"></span>
          </span>
        </p>
        <p class="line">
          <span class="flex flex-row gap-2 flex-wrap">
            <span class="text-purple-400">let</span>
            <span class="text-cyan-200">dev</span>
            <span class="text-white -mx-2">:</span>
            <span class="text-emerald-300 mx-2 ">string</span>
            <span class="text-white">=</span>
            <span class="text-orange-300 ">"Fullstack"</span>
            <span class="text-white -mx-2">;</span>
            <span class="text-white"></span>
          </span>
        </p>
        <p class="line">
          <span class="flex flex-wrap gap-2">
            <span class="text-yellow-300">console.log(</span>
            <span class="text-green-500 -mx-2">`</span>
            <span class="text-orange-300">Hi, i'm</span>
            <span class="text-purple-400">{{text1}}</span>
            <span class="text-cyan-200 -mx-2">name</span>
            <span class="text-purple-400 ">{{text2}}</span>
            <span class="text-white -mx-2">,</span>
            <span class="text-orange-300">and i'm a</span>
            <span class="text-purple-400">{{text1}}</span>
            <span class="text-cyan-200 -mx-2">dev</span>
            <span class="text-white"></span>
          </span>
        </p>
        <p class="line">
          <span class="flex flex-wrap gap-2">
            <span class="text-purple-400">{{text2}}</span>
            <span class="text-orange-300">developer</span>
            <span class="text-green-500 -mx-2">`</span>
            <span class="text-yellow-300">)</span>
            <span class="text-white -mx-2">;</span>
            <span class="text-white"></span>
          </span>
      </div>
    </div>
  </app-card>
</div>
