<header id="header"
  class="fixed top-0 bg-secondary dark:bg-main h-24 flex flex-col w-full justify-center items-center sm:flex-row sm:justify-around md:mb-12 gap-5 sm:gap-8 md:gap-9 lg:gap-20 z-20">
  <a href="/">
    <h1 class="flex items-center gap-3 text-md md:text-2xl lg:text-3xl font-sans font-bold">
      <svg class="h-4 w-4 sm:h-6 sm:w-6 drop-shadow-lg text-black dark:text-white transition-all duration-500">
        <use href="assets/icons/braces.svg"></use>
      </svg>
      Dev Miguel Angel
    </h1>
  </a>
  <div class="flex flex-row gap-5 sm:gap-16 md:gap-20 lg:gap-32 justify-around">
    <nav class="flex flex-row justify-center items-center gap-4 lg:gap-10 text-[10px] sm:text-sm md:text-md">
      <a routerLink="/">
        <svg class="h-4 w-4 sm:h-5 sm:w-5 drop-shadow-lg text-black dark:text-white transition-all duration-500">
          <use href="assets/icons/home.svg"></use>
        </svg>
        <p class="sm:hidden lg:flex hover:flex transition-all duration-200">Home</p>
      </a>
      <a href="#projects">
        <svg class="h-4 w-4 sm:h-5 sm:w-5 drop-shadow-lg text-black dark:text-white transition-all duration-500">
          <use href="assets/icons/folder.svg"></use>
        </svg>
        <p class="sm:hidden lg:flex">Projects</p>
      </a>
      <a href="#skills">
        <svg class="h-4 w-4 sm:h-5 sm:w-5 drop-shadow-lg text-black dark:text-white transition-all duration-500">
          <use href="assets/icons/brain.svg"></use>
        </svg>
        <p class="sm:hidden lg:flex">Skills</p>
      </a>
      <a routerLink="/contactme">
        <svg class="h-4 w-4 sm:h-5 sm:w-5 drop-shadow-lg text-black dark:text-white transition-all duration-500">
          <use href="assets/icons/contact.svg"></use>
        </svg>
        <p class="sm:hidden lg:flex">Contact Me</p>
      </a>
    </nav>
  </div>
  <hr class="fixed top-24">
</header>