<section
  id="skills"
  class="flex flex-col justify-center items-center w-full h-auto sm:px-20 pt-28">


  <div class="w-[70%] sm:w-[95%] md:w-[80%] flex flex-col justify-start gap-5 mb-5">
    <h1 class="text-2xl text-start">Tech Stack</h1>
    <p class="font-extralight text-[16px] sm:text-lg">{{ description }}</p>
  </div>

  <div class="flex flex-wrap w-full sm:w-[95%] md:w-[80%]">
    <div class="grid size-full px-15 sm:p-5 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-5 justify-center items-stretch">
      @for (tarjet of tarjets; track tarjet) {
        <app-tarjet [title]="tarjet.title" [icons]="tarjet.icons" [description]="tarjet.description"></app-tarjet>
      }
    </div>
  </div>

  <div
    class="mask-x-from-70% mask-x-to-90% flex w-full justify-center items-center overflow-hidden bg-transparent my-20"
  >
    <div class="whitespace-nowrap">
      <div class="flex w-[90%] gap-8 animate-scroll">
        @for (i of [1,2,3,4,5,6,7,8,9]; track i) { @for (icon of icons; track
        icon) {
        <svg class="w-14 h-14 md:w-16 md:h-16">
          <use [attr.href]="'/assets/icons/skills/' + icon + '.svg'"></use>
        </svg>
        } }
      </div>
    </div>
  </div>
</section>
