<section id="stack" class="flex flex-col justify-center items-center h-auto pt-24 lg:pt-36 w-[85%] sm:w-[95%] md:w-full lg:w-[80%] mx-auto md:px-14 lg:px-14">

  <div class="w-full flex flex-col justify-start gap-5 mb-5">
    <h1 class="text-2xl text-start">Tech Stack</h1>
    <p class="font-extralight text-[16px] sm:text-lg">{{ description }}</p>
  </div>

  <div class="flex flex-wrap px-5 sm:p-5 justify-center w-full">
    <div class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 justify-center items-stretch justify-content-center">
      @for (tarjet of tarjets; track tarjet) {
        <app-tarjet [title]="tarjet.title" [icons]="tarjet.icons" [description]="tarjet.description" [iconTarjet]="tarjet.iconTarjet"></app-tarjet>
      }
    </div>
  </div>

  <div class="mask-x-from-70% mask-x-to-90% flex max-w-[85%] justify-center items-center overflow-hidden bg-transparent my-20">
    <div class="whitespace-nowrap">
      <div class="flex w-full gap-8 animate-scroll">
        @for (i of [1,2,3,4,5,6,7,8,9]; track i) { 
          @for (icon of icons; track icon) {
            <svg class="w-12 h-12 md:w-13 md:h-13">
              <use [attr.href]="'/assets/icons/skills/' + icon + '.svg'"></use>
            </svg>
        } }
      </div>
    </div>
  </div>
</section>
