<body>
  <div id="home" class="flex flex-col gap-10 lg:gap-16 justify-center items-center w-full h-auto ">
    <div class="flex flex-col md:flex-row justify-around items-center w-full h-auto px-20">
      <div class="flex flex-col justify-center items-center">
        <svg
          class="w-64 h-64 sm:h-72 sm:w-72 lg:w-96 lg:h-96 drop-shadow-2xl text-main dark:text-secondary dark:shadow-secondary">
          <use href="assets/files/figura.svg"></use>
        </svg>
      </div>
      <div
        class="flex justify-center items-center w-[350px] h-[250px] sm:w-[450px] sm:h-[250px] md:w-[500px] md:h-[300px]">
        <app-card class="h-full w-full">
          <div class="W-full h-full py-5 px-3 text-[16px] sm:text-xl font-mono font-medium">
            <p class="flex gap-2 flex-rows">
              <span class="text-button dark:text-button-s mx-2">1</span>
              <span class="flex gap-2 flex-wrap">
                <span class="text-red-400">const</span>
                <span class="text-cyan-300">name</span>
                <span class="text-white -mx-2">:</span>
                <span class="text-emerald-300 mx-2">string</span>
                <span class="text-white">=</span>
                <span class="text-orange-300">"Miguel Ángel"</span>
                <span class="text-white -mx-2">;</span>
              </span>
            </p>
          </div>
        </app-card>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-around items-center w-full sm:w-[90%] h-auto sm:px-20 py-20">
      <div class="flex justify-start items-center gap-5 w-[70%] md:w-[60%]">
        <div class="flex flex-col justify-center items-start">
          <h1 class="font-sans text-2xl sm:text-3xl">Full-stack Developer</h1>
          <p class="flex flex-row text-wrap justify-start text-[16px] md:text-xl font-extralight">Hi, I'm Miguel Ángel —
            a
            Full
            Stack
            developer in training with hands-on experience in Angular, Tailwind, React, JavaScript, TypeScript,
            Python, SQL, Git, Docker, HTML, and CSS. I specialize in web development and building functional,
            user-focused applications.
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center gap-3 py-10 sm:pt-0">
        <a href="https://drive.google.com/uc?export=download&id=1Xd6WTJ0SeeIkOzqxQABOUxT6_crG0Vv4" download>
          <button>Download CV</button>
        </a>
        <div class="flex flex-row items-center justify-center gap-2 text-black dark:text-white">
          <h1 class="text-sm sm:text-[16px] font-extralight">Follow me</h1>
          <a href="https://github.com/MiguelGarzon11" target="_blank">
            <svg class="h-8 w-8 text-black dark:text-secondary">
              <use href="assets/icons/github.svg"></use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/miguelangelgarz%C3%B3n/" target="_blank">
            <svg class="h-12 w-12 text-black dark:text-secondary">
              <use href="assets/icons/in.svg"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="projects">
    <app-projects></app-projects>
  </div>
  <div id="skills">
    <app-skills></app-skills>
  </div>
</body>
