<body>
  <div id="home" class="relative top-16 flex flex-col sm:flex-row justify-center gap-3 lg:gap-16 mt-3 w-full">

    <div class="flex flex-col justify-center items-center mt-0 lg:mt-20 text-main dark:text-secondary">
      <svg class="w-64 h-64 md:w-64 md:h-64 lg:w-96 lg:h-96 drop-shadow-2xl shadow-main dark:shadow-secondary">
        <use href="assets/files/figura.svg"></use>
      </svg>
    </div>

    <div class="flex flex-col sm:mt-0 items-center drop-shadow-black dark:drop-shadow-white">
      <div
        class="relative flex items-center h-[30px] w-[350px] sm:h-[35px] sm:mt-10 sm:w-[350px] lg:h-[35px] lg:w-[550px] md:w-[500px] bg-main dark:bg-secondary md:mt-28 rounded-t-2xl">
        <div class="flex justify-start flex-row gap-1.5 sm:gap-2 mx-3">
          <div class="bg-red-500 h-2.5 w-2.5 sm:h-3.5 sm:w-3.5 rounded-full"></div>
          <div class="bg-yellow-400 h-2.5 w-2.5 sm:h-3.5 sm:w-3.5 rounded-full"></div>
          <div class="bg-green-500 h-2.5 w-2.5 sm:h-3.5 sm:w-3.5 rounded-full"></div>
        </div>
        <div class="flex items-center">
          <h1 class="absolute left-1/2 -translate-x-1/2 text-sm sm:text-md md:text-lg text-secondary dark:text-main">
            Dev Miguel Angel
          </h1>
        </div>
      </div>
      <div
        class="h-[150px] w-[350px] md:h-[200px] md:w-[500px] lg:h-[250px] lg:w-[550px] bg-buttonS dark:bg-button rounded-b-xl">
        <div class="overflow-hidden">
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center mx-5 gap-10 sm:flex-row md:justify-around my-24 md:mx-20">
    <div class="flex flex-col items-start justify-center w-80 sm:w-96 gap-3">
      <h1 class="font-sans text-2xl sm:text-3xl">Full-stack Developer</h1>
      <p class="flex flex-row text-wrap justify-start text-sm md:text-xl font-extralight">Hi, I'm Miguel Ángel — a
        Full
        Stack
        developer in training with hands-on experience in Angular, Tailwind, React, JavaScript, TypeScript,
        Python, SQL, Git, Docker, HTML, and CSS. I specialize in web development and building functional,
        user-focused applications.
      </p>
    </div>

    <div class="flex flex-col justify-center items-center gap-5 mt-5 sm:mt-0">
      <a href="https://drive.google.com/uc?export=download&id=1Xd6WTJ0SeeIkOzqxQABOUxT6_crG0Vv4
" download>
        <button>Download CV</button>
      </a>
      <div class="flex flex-row items-center justify-center gap-2.5 text-black dark:text-white">
        <h1 class="text-sm sm:text-[16px] font-extralight">Follow me</h1>
        <a href="https://github.com/MiguelGarzon11" target="_blank">
          <svg class="h-12 w-12 hover:drop-shadow-white hover:dark:shadow-secondary">
            <use href="assets/icons/github.svg"></use>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/miguelangelgarz%C3%B3n/" target="_blank">
          <svg class="h-12 w-12">
            <use href="assets/icons/in.svg"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div id="projects" class="flex justify-center items-center m-10">
    <app-projects></app-projects>
  </div>

  <div id="skills" class="flex justify-center items-center m-10 p-10">
    <app-skills></app-skills>
  </div>
</body>