<div class="flex-col sm:flex-row justify-center items-center w-full h-full md:py-20">
  <div class="flex flex-col gap-10 justify-center items-center w-full sm:px-20">
    <div class="flex flex-col gap-5 justify-center items-start w-[70%] sm:w-[80%]">
      <h1 class="text-2xl sm:text-3xl">My projects</h1>
      <p class="font-extralight text-[16px] sm:text-lg md:text-xl">Here you'll find projects where I put my knowledge
        into practice
        to build
        functional
        and
        effective solutions.</p>
    </div>
    <div class="flex justify-center sm:items-center flex-col lg:flex-row gap-10 w-[300px] sm:w-full h-full">
      <div class="h-[200px] sm:h-[300px] sm:w-[400px]">
        <app-card></app-card>
      </div>
      <div class="h-[200px] sm:h-[300px] sm:w-[400px]">
        <app-card></app-card>
      </div>
    </div>
  </div>
</div>
