<footer class="flex flex-col bg-secondary dark:bg-main w-full">
    <hr>
    <div class="flex flex-row p-10 justify-around items-center w-full">
        <div class="flex flex-row justify-center items-center gap-1 sm:gap-3">
            <a href="https://github.com/MiguelGarzon11" target="_blank">
                <svg class="h-6 w-6 sm:h-8 sm:w-8 text-black dark:text-secondary">
                    <use href="assets/icons/github.svg"></use> 
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/miguelangelgarz%C3%B3n/" target="_blank">
                <svg class="h-8 w-8 sm:h-12 sm:w-12 text-black dark:text-secondary hover:drop-shadow-lg drop-shadow-secondary">
                <use href="assets/icons/in.svg"></use>
                </svg>
            </a>    
        </div>
        <h1 class="relative top-28 sm:top-0 font-extralight text-sm text-[16px]">© 2025 Miguel Ángel Garzón Becerra. All rights reserved.</h1>
        <div class="flex flex-col gap-3 justify-start">
            <h1 class="font-medium text-sm sm:text-[16px]">Dev Miguel Ángel</h1>
            <p class="font-extralight text-sm sm:text-[16px]">Developer Fullstack</p>
        </div>
    </div>
</footer>
