<div
  class="w-[90%] h-full flex flex-col bg-button/20 dark:bg-button-s/20 rounded-b-3xl rounded-t-2xl drop-shadow-lg drop-shadow-button dark:drop-shadow-stone-800 p-5 sm:p-10 justify-center"
>
  <h1
    class="text-2xl sm:text-3xl text-button-s dark:text-button text-center text-nowrap font-stretch-expanded pb-5 sm:pb-10 font-mono font-extrabold"
  >
    {{ title }}
  </h1>
  <div class="flex flex-wrap w-full justify-center items-center gap-5">
    <ng-content></ng-content>
  </div>
  <div class="w-full h-full group">
    <div class="absolute top-5 right-5 w-8 h-8">
      <button
        class="w-full h-full flex justify-center items-center rounded-full bg-transparent hover:bg-main/10 dark:hover:bg-secondary/5 cursor-pointer"
      >
        <svg
          class="w-7 h-7 text-button-s/70 hover:text-button-s dark:text-secondary/70 dark:hover:text-secondary"
        >
          <use href="assets/icons/info.svg" />
        </svg>
      </button>
    </div>
    <div
      class="opacity-0 hidden group-hover:opacity-100 group-active:opacity-100 absolute bg-main/50 dark:bg-secondary/50 px-5 w-auto h-auto py-2 top-2.5 right-14 rounded-2xl group-hover:flex items-center z-10 backdrop-blur-xl"
    >
      <p class="font-extralight text-sm text-secondary dark:text-main">
        Tap each icon for more information.
      </p>
    </div>
  </div>
</div>
