<div
  class="w-full h-full col-span-1 row-span-1 flex flex-col bg-button/20 dark:bg-button-s/20 rounded-b-3xl rounded-t-2xl drop-shadow-lg drop-shadow-button dark:drop-shadow-stone-800 p-5 sm:p-10 justify-start gap-3.5">
  <h1 class="text-2xl text-button-s dark:text-button text-start text-nowrap font-mono font-extrabold">
    {{ title }}
  </h1>
  <p class="font-extralight text-sm dark:text-stone-200 text-stone-800">{{ description }}</p>
  <div class="flex flex-wrap w-full justify-center items-start gap-3 my-2">
    @for (icon of icons; track icon) {
      <svg class="w-14 h-14 sm:w-15 sm:h-15 hover:scale-105 hover:cursor-pointer transition-all duration-300">
          <use [attr.href]="'/assets/icons/skills/' + icon + '.svg'"></use>
      </svg>
    }
  </div>
  @if (title == 'Android' || title == 'Tools') {
    <hr class="my-2 shrink-0">
  }
</div>
