<div
  class="size-full lg:max-w-120 col-span-1 row-span-1 flex flex-col bg-button/20 dark:bg-back rounded-b-3xl rounded-t-2xl p-5 py-8 sm:p-10 justify-start gap-3.5 dark:shadow-[inset_4px_4px_12px_#0C0C0D,inset_-6px_-6px_12px_#232325] ring-1 ring-button-s/15 shadow-[inset_4px_4px_12px_#ABABB0,inset_-6px_-6px_12px_#C3C3C6]">
  <h1 class="text-2xl text-button-s dark:text-button text-center text-nowrap font-mono font-semibold flex gap-x-5 justify-start items-center">
    <div class="size-11 rounded-xl ring-1 p-2 dark:ring-secondary/10 ring-button-s/10">
      <svg class="size-full text-button-s dark:text-secondary">
        <use [attr.href]="`/assets/icons/tarjet/${iconTarjet}.svg`"></use>
      </svg>
    </div>
    <p>{{ title }}</p>
  </h1>
  <p class="font-extralight text-sm dark:text-stone-200 text-stone-800">{{ description }}</p>
  <div class="flex flex-wrap w-full justify-center items-start gap-3 my-2">   
    @for (icon of icons; track icon) {
      <svg class="w-12 h-12 sm:w-13 sm:h-13 hover:scale-105 hover:cursor-pointer transition-all duration-300">  
          <use [attr.href]="'/assets/icons/skills/' + icon + '.svg'"></use>
      </svg>
    }
  </div>
  @if (title == 'Android' || title == 'Tools') {
    <hr class="my-2 shrink-0">
  }
</div>
