@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main: #222326;
  --color-secondary: #d7d7d9;
  --color-button: #9fa3a6;
  --color-button-s: #3c3d40;
}

@layer base {
  body {
    @apply bg-secondary dark:bg-main;
    @apply text-black dark:text-white;
    @apply mt-20 sm:mt-24 h-auto w-full justify-center items-center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  a {
    @apply text-black dark:text-white font-sans font-bold;
    @apply hover:scale-110 transition-all duration-300;
    @apply flex flex-row gap-2 items-center;
  }

  hr {
    @apply h-px w-full bg-linear-to-r from-transparent via-button-s to-transparent border-0 dark:via-white;
  }

  footer {
    @apply h-40 flex flex-row justify-between items-center;
  }

  button {
    @apply text-white text-sm sm:text-lg font-semibold dark:text-black h-8 w-32 sm:h-10 sm:w-48 bg-main dark:bg-secondary rounded-lg hover:bg-button-s dark:hover:bg-white hover:border-spacing-3 border-main transition duration-300 active:scale-95;
  }

  textarea {
    @apply bg-white text-black w-56 sm:w-72 max-h-40 min-h-24 sm:max-h-48 sm:min-h-28 text-[13px] sm:text-sm text-wrap rounded-lg p-3 hover:scale-105 transition-all duration-300 border-main mt-3;
  }

  input {
    @apply bg-white text-black w-56 h-8 sm:w-72 sm:h-10 text-[13px] sm:text-sm text-wrap rounded-lg p-3 hover:scale-105 transition-all duration-300 border-main -mt-1;
  }

  .line {
    @apply flex flex-row gap-4 text-button border-r-[3px] w-fit;
  }

  #card {
    @apply drop-shadow-black dark:drop-shadow-white active:scale-95 duration-500 cursor-pointer;
  }

  #card2 {
    @apply hover:scale-none;
  }

  #button {
    @apply text-sm bg-button text-white dark:bg-main dark:text-white hover:bg-secondary dark:hover:bg-button-s hover:text-white;
  }

  #sendmessage {
    @apply hover:drop-shadow-white mb-10 hover:scale-90 transition-all duration-500;
  }

  #sendmessage2 {
    @apply text-secondary dark:text-main hover:drop-shadow-white mb-10 hover:scale-90 transition-all duration-500;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

.animate-scroll {
  animation: scroll 35s linear infinite;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  margin-left: 2px;
}

/* Fondo */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Barra */
::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 8px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #444;
  cursor: pointer;
}
